name: Lab 3 Grading
on: [push]

permissions:
  id-token: write
  contents: read

jobs:
  grade:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup SAM
        uses: aws-actions/setup-sam@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-2 

      - name: Build and Deploy
        run: |
          sam build
          sam deploy --stack-name coderoad-lab-3 --resolve-s3 --capabilities CAPABILITY_IAM --no-confirm-changeset

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Run Tests
        run: |
          pip install pytest boto3 Pillow
          pytest test_lab3.py
